.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  /*设置背景为彩虹渐变，可以换成其他颜色*/
  background: linear-gradient(45deg,
					rgba(255,0,0,.5),
					rgba(255,255,0,.5),
					rgba(0,255,255,.5),
					rgba(0,0,255,.5)
				);
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.ripple-effect .animated {
  -webkit-animation: ripple 0.6s linear;
          animation: ripple 0.6s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
